nav {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: lightblue;
}
.center {
  width: 1300px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}
.centerUser {
  width: 1300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

